<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Dbconnectionstring"  connectionString="Server=.\SQLExpress;AttachDbFilename=C:\Working\BillingSoftware\Data\BillingBase.mdf;Database=dbname;Trusted_Connection=Yes;"/>
	</connectionStrings>
	<appSettings>
	</appSettings>
</configuration>